<script type="text/javascript"> // RELOADS WEBPAGE WHEN MOBILE ORIENTATION CHANGES  
    window.onorientationchange = function() { window.location.reload(); };
</script>
<% content_for :title do %>HVS Dashboard<% end %>
<div class="gridster">
  <ul>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock" onclick="location.href='http://hvsapp.jonpetersen.co.uk/groupsalesreport'"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather" onclick="location.href='https://www.wunderground.com/cgi-bin/findweather/hdfForecast?query=51.137%2C-0.621&sp=IHAMBLED3'"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="salesvalue" data-view="Number" data-title="Day's Sales" data-moreinfo="" data-prefix="£" onclick="location.href='http://hvsapp.jonpetersen.co.uk/transactionstoday'"></div>
    </li>
<!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lastsaletime" data-view="Number" data-title="Last Sale Time" data-prefix="" ></div>
    </li>
-->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lastsaleoperator" data-view="Text" data-title="Last Sale" data-prefix="" onclick="location.href='http://hvsapp.jonpetersen.co.uk/transactionstoday'"></div>
    </li>    
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="transactionsrecent" data-view="Numbernochange" data-title="Transactions in last 10 minutes" data-moreinfo="" data-prefix="" onclick="location.href='http://hvsapp.jonpetersen.co.uk/salesactivity'"></div>
    </li>
<!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vattodaypercent" data-view="Number" data-title="Day's VAT %" data-moreinfo="" data-suffix="%" onclick="location.href='http://hvsapp.jonpetersen.co.uk/saleschart'"></div>
    </li>
-->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="salesthismonth" data-view="Numbernochange" data-title="Month's Sales" data-moreinfo="" data-prefix="£" onclick="location.href='http://hvsapp.jonpetersen.co.uk/saleschart'"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="salesthismonthavg" data-view="Numbernochange" data-title="Avg Sales/Day" data-moreinfo="" data-prefix="£" onclick="location.href='http://hvsapp.jonpetersen.co.uk/saleschart'"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="salesthismonthforecast" data-view="Numbernochange" data-title="Month's Forecast (gross)" data-moreinfo="" data-prefix="£" onclick="location.href='http://hvsapp.jonpetersen.co.uk/saleschart'"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="salesthisyearforecast" data-view="Numbernochange" data-title="Year's Forecast (gross)" data-moreinfo="" data-prefix="£" onclick="location.href='http://hvsapp.jonpetersen.co.uk/saleschart'"></div>
    </li>
        
    
    
<!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="goodsinrecent" data-view="Number" data-title="Goods In today" data-moreinfo="" data-prefix="" ></div>
    </li>
-->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="items1" data-view="List" data-title="Today's Top" data-moreinfo="" data-prefix="£" onclick="location.href='http://hvsapp.jonpetersen.co.uk/topsellerstodaysalesreport'"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="items2" data-view="List" data-title="Month's Top" data-moreinfo="" data-prefix="£" onclick="location.href='http://hvsapp.jonpetersen.co.uk/topsellersallsalesreport'"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="items3" data-view="List" data-title="All Top" data-moreinfo="" data-prefix="" onclick="location.href='http://hvsapp.jonpetersen.co.uk/topsellersarchivesalesreport'"></div>
    </li> 
  
</div>
